{% extends "articles/base.html" %} 

{% block content_article %}
<div class="content-article">
</div>
<script type='text/javascript'>
    function ajax_req(){
        $.ajax({
            url: "{% url 'ajax_view' %}",
            type: "GET",
            data: JSON.parse(JSON.stringify("{{articles|safe}}")),
            dataType: "json",
            success: function(data) {
                $.each(data, function (index, value) {
                    $('.content-article').append('<article>'+ 
                        (value.image > '' ? '<div class="image-block"><img src="' + value.image + '" alt="image"></div>' : '') +
                        '<div class="post-block">'+
                        '<h1><a href="/' +  value.pk + '/">' +  value.title + '</a></h1>'+
                        '<p>' + value.text +'</p></div></article><hr/> ')
                });
            }
        });
    }
    /* Manually initiate the first ajax request */
    $(document).ready(function() {
        ajax_req();
    });
</script>
</div>
{% endblock %}
